In [1]:
# conditional_statments

In [2]:
age = 29
if age>18:
    print('u can vote')

u can vote

In [3]:
# else bock
age = 17
if age>18:
    print('u can vote')
else:
    print('u r a childu')

u r a childu

In [8]:
# elif
age = 20
if age<13:
    print('u are a kid')
elif age<18:
    print('u are a teenager') 
else:
        print('u r a adult')

u r a adult

In [10]:
# nested condition statements
# even n odd 
num = int(input('enter the number only'))
if num%2==0:
    print(num,'is a even numebr')
else:
    print(num,'numebr is odd')

56 is a even numebr

In [16]:
# prsctical examplies
# find if a year is leap year
year = int(input('enter year only'))
if year%4==0:
     if year%100==0:
        if year%400==0:
            print('the year is leap year')
        else:
            print('the year is not a leapyear')
    else:
        print('the year is not a leapyear')
else:
        print('the year is not a leapyear')

IndentationError: unindent does not match any outer indentation level (<string>, line 10)

In [4]:
# simple calculator
num = float(input('enter any integer'))
num1 = float(input('enter any integer'))
oparation = input('enter +,-,*/')

if oparation=='+':
    result = num+num1
elif oparation=='-':
    result = num-num1
elif oparation=='*':
    result= num*num1
elif oparation=='/':
    result = num/num1

else:
    print('younhave entered wrong oparation')
print(result)

0.0

In [3]:
print('w')

w

In [5]:
# simple timepass
age = int(input('enter your age in numbers only eg 25'))
is_student = input('are you a student(yes/no)')

if age<=10 and is_student.lower=='yes':
    prin('your fee is free')
if age>=18 or is_student.lower=='yes':
    print('your discouted fee  is  chocholate')

your discouted fee  is  chocholate

In [6]:
for i in range(4):
    print(i*2)

0
2
4
6

In [7]:
for i  in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,5,-2):
    print(i-1)

9
7
5

In [16]:
# string
srt = 'sanjay'
for i in srt:
    print(i)

s
a
n
j
a
y

In [18]:
#while loop
tanetane = 0

while tanetane<5:
    print('tanetane')
    tanetane = tanetane+1

tanetane
tanetane
tanetane
tanetane
tanetane

In [21]:
# loop control statemnts
# break statements 
# break exits the loop premeturly
for i in range (10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [24]:
# continue
#contine skipps the current ittration and moves to next one
for i  in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [25]:
#pass
# it is a ntg function
for i in range (5):
    if i==2:
        pass
    print(i)

0
1
2
3
4

In [28]:
# nested loop
for i in range(3):
    for j in range(i):
        print(i,j)

1 0
2 0
2 1

In [29]:
# calculate the sum of first N natural number 
n = 10
sum = 0
count = 1

while count<=10:
    sum = sum+count
    count = count+1
print('the sum of first N natural number',sum)

the sum of first N natural number 55