## the map() Function

the map fucntion applies the given fucntion to all the items in a input list or any other ittrebels and return a map object (an iterator). 
This is perticulary usefull in transforming the data in a list comprahensively

In [2]:
def square(num):
    return num*num

square(2)

4

In [3]:
number = [1,2,3,4,5]
list(map(square,number))

[1, 4, 9, 16, 25]

In [5]:
# Multipal iterables
num1 = [1,2,3]
num2 = [4,5,6]

add_number = list(map(lambda x,y:x+y, num1, num2))
add_number

[5, 7, 9]

In [6]:
## map() to convert list of str to int
# use map to convert string to interges
str_numb = ['1', '2', '3']
str_int = list(map(int,str_numb))
str_int

[1, 2, 3]

In [7]:
words = ['apple', 'banna', 'cherry']
upper_words = list(map(str.upper, words))
upper_words

['APPLE', 'BANNA', 'CHERRY']

In [8]:
def get_name(person):
    return person['name']

people = [
    {'name':'rocky','age':32},
    {'name':'mike','age':22}
]

list(map(get_name,people))

['rocky', 'mike']